.home-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
}

.home-panel {
  padding: 10px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-panel h2 {
  color: black;
  margin-bottom: 30px;
}

.home-panel table {
  color: black;
  text-align: left;
  border-style: none;
}

.home-panel table thead {
  background-color: crimson;
  padding: 10px;
  text-align: left;
  border-style: none;
}

.home-panel table td {
  border: 1px;
  padding: 10px;
  border-style: none;
  padding: 10px;
}

.home-panel button {
  width: 100px;
  display: block;
  margin: 12px auto 0;
  padding: 10px;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  color: white;
  background-color: crimson;
}
